{{define "Index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alura Store</title>
</head>
<body>
    <h1>Alura Store</h1>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
                <td>Amount</ttdh>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Shirt</td>
                <td>Very nice!</td>
                <td>19</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Laptop</td>
                <td>New generation</td>
                <td>1999</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
{{end}}